.spinner {
    border: 8px solid white;
    border-radius: 100%;
    border-top: 8px solid #216477;
    animation: spin 1.5s linear infinite;
}

.spinner-layout {
    width: 100px;
    height: 100px;
    float: left;
    margin: 130px;
    margin-bottom: 60px;
    margin-top: 40px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}