.Login-form {
    border-radius: 1.5em;
    border: 1px solid rgb(131, 125, 125);
    box-shadow: 0px 11px 35px 2px rgb(204, 196, 196);
}

.Login-form-layout {
    width: 400px;
    min-height: 240px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.Login-form button {
    cursor: pointer;
    border-radius: 5em;
    background-color: #97a2c9;
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 35%;
    margin-top: 17px;
    margin-bottom: 20px;
    font-size: 13px;
    outline: none;
}

.Login-form button:disabled {
    background-color: #bdc4dd;
    cursor: not-allowed;
}

.welcome-text {
    text-align: center;
    color: #6678b4;
    font-weight: bold;
    font-size: 23px;
}

.welcome-text-layout {
    padding-top: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}