.header {
    background-color: rgb(245, 245, 239);
    border-bottom-style: solid;
    border-bottom-color: grey;
}

.header-layout {
    position: fixed;
    width: 100%;
}

.placeholder {
    height: 240px;
}