.card {
    border-radius: 5px;
    text-align: left;
}

.card-layout {
    width: 300px;
    min-height: 220px;
    height: auto;
    margin-left: 22px;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 15px;
    float: left;
}

.card-checked-border {
    border: 5px solid #97144b;
    box-shadow: 5px 5px 5px #ce80a0;
}

.card-unchecked-border {
    border: 5px solid #216477;
    box-shadow: 5px 5px 5px #92abb1;
}

 .card:hover {
    background-color: #e4e3ec;
} 