.color-switcher {
    float: right;
    margin-top: 7px;
    margin-right: 10px;
}

.head {
    font-size: 18px;
    font-weight: bold;
}

.icon-button {
    float: right;
    margin-top: 4px;
    margin-right: 5px;
    cursor: pointer;
}